@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



@layer utilities {
    .verdana {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .sans-serif {
        font-family: Tahoma, sans-serif;
    }
    .backgroundImage {
        background-image: url('assets/images/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .semi-bold {
        font-weight: 500;
    }
}